.open{
    display: flex;
    flex-direction: column;
    border: 4px solid gray;
    border-radius: 10px;
    padding: 5px;
    height: 255px;
    width: 400px;

}

.A{
    background: silver;
    width: 400px;
    height: 70px;
    text-align: center;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrap{
    display: flex;
}

.B{
    background: silver;
    width: 281px;
    height: 70px;
    margin-top: 5px;
    text-align: center;
    border-radius: 10px;
    border: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.C{
    background: silver;
    width: 87px;
    height: 100px;
    margin-right: 10px;
    margin-top: 5px;
    text-align: center;
    border-radius: 10px;
    border: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.F{
    background: silver;
    width: 109px;
    height: 175px;
    margin-top: -70px;
    text-align: center;
    border-radius: 10px;
    border: 3px;
    justify-content: center;
    align-items: center;
    display: flex;



}


@media screen and (min-width: 0px) and (max-width: 400px) {
    .open{
        border: 3px solid red;
        width: 300px;
        height: 360px;
        flex-direction: column;
    }

    .A{
        background: red;
        height: 70px;
        width: 300px;
        flex-direction: column;
        border-radius: 20px;
        margin-top: 10px;
    }

    .B{
        background: red;
        height: 110px;
        width: 300px;
        flex-direction: column;
        border-radius: 20px;
        margin-top: 10px;

    }

    .C {
        background: red;
        height: 60px;
        width: 700px;
        flex-direction: column;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 15px;

    }
    .F{
        background: red;
        height: 110px;
        width: 300px;
        border-radius: 20px;
        margin-top: 80px;
        margin-left: 300px;
        justify-content: center;
        justify-items: flex-start;
        margin-bottom: 10px;
    }
}

